{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dist/vue-multiselect.min.css' %}">
  </head>
  <body>
    
    {% block templates %}
    {% endblock templates %}
    <script type="x-template" id="csrf">
      {% csrf_token %}
    </script>
    <div id="app">
       {% if user.is_authenticated %}
        <nav class="nav has-shadow">
          <span class="nav-toggle" @click="navOpen = !navOpen">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu" :class="{ 'is-active': navOpen }">
            <a class="nav-item is-tab" href="/">
              Kanban
            </a>
            <a class="nav-item is-tab" href="/todos">
              Todos
            </a>
            <a class="nav-item is-tab" href="/logout">
              Logout
            </a>
          </div>
        </nav>
      {% endif %}
      {% block content %}
      
      {% endblock content %}
    </div>
    {% block scripts %}
    
    {% endblock scripts %}
  </body>
</html>