{% extends "base.html" %}
{% block content %}
<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-4 is-offset-4">
            {% include "./form.html" with title="Login" %}
            <p class="has-text-centered">
              <a href="/register">Register</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}